<!DOCTYPE html>

<html>

    <head>

        <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">

        <script src="/static/javascript/base.js"></script>

        {% block title %}
        {% endblock title %}

    </head>

    <body>

        <header>
            <nav>
                <a href="/">Home</a>
                {% if user is defined() %}
                    <a href="/internal/logout">Logout</a>
                {% else %}
                    <a href="/sign-up">Sign up</a>
                    <a href="/login">Log in</a>
                {% endif %}
            </nav>
            {% for message in get_flashed_messages(request) %}
                <p>
                    {{ message }}
                    <span onclick="removeParent(this);">[-]</span>
                </p>
            {% endfor %}
        </header>

        {% block main %}
        {% endblock main %}

    </body>

</html>
