{% extends "base.jinja2" %}

{% block title %}

    <title>Login</title>

{% endblock title %}

{% block main %}

    <main>
        <h1>Login page</h1>
        <form action="/internal/login" method="post">
            <label for="username">Username:</label>
            <br>
            <input id="username" name="username" placeholder="e.g. brianlaw">
            <br>
            <br>
            <label for="password">Password:</label>
            <br>
            <input id="password" name="password" type="password" placeholder="********">
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
    </main>

{% endblock main %}
