{% extends "base.jinja2" %}

{% block title %}

    <title>Sign Up</title>

{% endblock title %}

{% block main %}

    <main>
        <h1>Sign Up With Watch N Learn!</h1>
        <form action="/internal/sign-up" method="post">
            <label for="username"> Choose Your Username:</label>
            <input id="username" name="username">
            <br>
            <label for="password">Choose Your Password:</label>
            <input id="password" name="password" type="password">
            <br>
            <input type="submit" value="Sign up">
        </form>
    </main>

{% endblock main %}
